.tbl_product {
    min-width: 715px;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;

}
.product {
    height: 40px;
}
.product th {
    line-height: 2;
    font-weight: 400;
}
.id {
    width: 15px;
    text-align: right;
}
.quantity {
    width: 20px;
    text-align: right;
}
.color {
    width: 20px;
}
.size {
    width: 20px;
    text-align: left;
}
.price_core {
    width: 30px;
    text-align: right;
}
.price_sale {
    width: 30px;
    text-align: right;
}
.note {
    width: 100px;
}
.brand {
    width: 100px;
}
.action {
    width: 100px;
    text-align: center;
    min-width: 100px;
}
.supplier {
    width: 100px;
}
.product_name{
    width: 100px;
}
.category {
    width: 100px;
}
