.tbl_product {
    min-width: 715px;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;

}
.product {
    height: 40px;
}
.product th {
    line-height: 2;
    font-weight: 400;
}
.tbl_id {
    width: 50px;
    text-align: right;
}
.tbl_name {
    width: 150px;
    text-align: center;
}
.tbl_category {
    width: 150px;
}
.tbl_brand {
    width: 100px;
}
.tbl_supplier {
    width: 100px;
}

.tbl_quantity {
    width: 50px;
    text-align: right;
}
.tbl_color {
    width: 100px;
}
.tbl_size {
    width: 70px;

}
.size {
    text-align: center;
}
.tbl_price_core {
    width: 90px;
    text-align: right;
}
.tbl_price_sale {
    width: 90px;
    text-align: right;
}
.tbl_note {
    width: 100px;
    min-width: 100px;
}

.tbl_action {
    width: 100px;
    text-align: center;
    min-width: 100px;
}
.quantity, .price_sale, .price_core, .id{
    text-align: center;
}

@media only screen and (min-width: 331px){
    .tbl_action {
        width: 100px !important;
    }
}




